<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="aside">

  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">

        <li th:class="${sidemenuPurchases != null ? 'active treeview menu-open' : 'treeview'}">
          <a href="#">
            <i class="fa fa-shopping-cart text-aqua"></i>
            <span>Approvisionnements</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li th:class="${subSidemenuPurchasesIntro != null ? 'active': ''}"><a href="/purchasesintro"><i class="fa fa-circle-o text-aqua"></i> Intro</a></li>
            <li th:class="${subSidemenuPurchases != null ? 'active': ''}"><a href="/purchases"><i class="fa fa-shopping-cart text-aqua"></i> Achats</a></li>
            <li><a href="#"><i class="fa fa-shopping-cart text-aqua"></i> Débit / Crédit</a></li>
          </ul>
        </li>

        <li th:class="${sidemenuSales != null ? 'active treeview menu-open' : 'treeview'}">
          <a href="#">
            <i class="fa fa-tags text-green"></i>
            <span>Ventes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li th:class="${subSidemenuSalesIntro != null ? 'active': ''}"><a href="/salesintro"><i class="fa fa-circle-o text-green"></i> Intro</a></li>
            <li th:class="${subSidemenuSalesCredit != null ? 'active': ''}"><a href="/sales/credit"><i class="fa fa-tag text-green"></i> À Terme</a></li>
            <li th:class="${subSidemenuSalesCash != null ? 'active': ''}"><a href="/sales/cash"><i class="fa fa-tag text-green"></i> Comptant</a></li>
          </ul>
        </li>


        <li class="treeview">
          <a href="#">
            <i class="fa fa-money text-orange"></i>
            <span>Versements</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o text-green"></i> Intro</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-green"></i> Clients</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-green"></i> Camions</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-green"></i> Déposants</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-green"></i> Employés</a></li>
          </ul>
        </li>

        <li th:class="${sidemenuStocks != null ? 'active treeview menu-open' : 'treeview'}">
          <a href="#">
            <i class="fa fa-cubes text-yellow"></i> <span>Stocks</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li th:class="${subSidemenuStocksIntro != null ? 'active': ''}"><a href="/stocksintro"><i class="fa fa-circle-o text-yellow"></i> Intro</a></li>
            <li th:class="${subSidemenuStocks != null ? 'active': ''}"><a href="/stocks"><i class="fa fa-cubes text-yellow"></i> Stock</a></li>
            <li><a href="#"><i class="fa fa-bar-chart text-yellow"></i> Inventaire</a></li>
          </ul>
        </li>

        <li>
          <a href="#"></a>
        </li>
        
        <li th:class="${sidemenuSettings != null ? 'active treeview menu-open' : 'treeview'}">
          <a href="#">
            <i class="fa fa-gears"></i>
            <span>Paramétrage</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li th:class="${subSidemenuSettingsIntro != null ? 'active': ''}"><a href="/settingsintro"><i class="fa fa-circle-o"></i> Intro</a></li>
            <li th:class="${subSidemenuProducts != null ? 'active': ''}"><a href="/products/settings"><i class="fa fa-product-hunt text-aqua"></i> Produits</a></li>
            <li th:class="${subSidemenuSuppliers != null ? 'active': ''}"><a href="/suppliers/settings"><i class="fa fa-industry text-red"></i> Fournisseurs</a></li>
            <li th:class="${subSidemenuCustomers != null ? 'active': ''}"><a href="/customers/settings"><i class="fa fa-user-circle text-yellow"></i> Clients</a></li>
            <li th:class="${subSidemenuEmployees != null ? 'active': ''}"><a href="/employees/settings"><i class="fa fa-user text-aqua"></i> Employees</a></li>
            <li><a href="#"><i class="fa fa-handshake-o text-green"></i> Partenaires</a></li>
            <li><a href="#"><i class="fa fa-credit-card text-red"></i> Déposants</a></li>
            <li th:class="${subSidemenuVehicles != null ? 'active': ''}"><a href="/vehicles/settings"><i class="fa fa-truck text-yellow"></i> Véhicules</a></li>
            <li><a href="#"><i class="fa fa-users text-green"></i> Utilisateurs</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-history"></i>
            <span>Journal</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Activités</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Transactions</a></li>
          </ul>
        </li>

        <li><a href="#"><i class="fa fa-laptop"></i> <span>Tableau de bord</span></a></li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

</div>


</body>
</html>
